<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Razo - Song Recommender | Home</title>

<link rel="icon" href="../frontendplaceholder/theme/img/core-img/favicon.ico">

<link rel="stylesheet" href="../frontendplaceholder/style.css">
</head>
<body>

<div id="preloader">
<div>
<div class="spinner">
<div class="double-bounce1"></div>
<div class="double-bounce2"></div>
</div>
<span>Wait, please...</span>
</div>
</div>


<div class="top-search-area">
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-body">

<button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
 
<form action="index.html" method="post">
<input type="search" name="top-search-bar" class="form-control" placeholder="Type keywords and hit enter...">
<button type="submit">Search</button>
</form>

<div class="search-btn"><i class="icon_search"></i></div>
</div>
</div>
</div>
</div>
</div>


<div class="razo-social-share-area">
<a href="index.html#" class="facebook"><i class="fa fa-facebook"></i></a>
<a href="index.html#" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="index.html#" class="pinterest"><i class="fa fa-pinterest"></i></a>
<a href="index.html#" class="instagram"><i class="fa fa-instagram"></i></a>
<a href="index.html#" class="youtube"><i class="fa fa-youtube-play"></i></a>
<a href="index.html#" class="ss-close-btn"><i class="arrow_right"></i></a>
</div>


<header class="header-area">

<div class="main-header-area">
<div class="classy-nav-container breakpoint-off">
<div class="container">

<nav class="classy-navbar justify-content-between" id="razoNav">

<a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>

<div class="classy-navbar-toggler">
<span class="navbarToggler"><span></span><span></span><span></span></span>
</div>

<div class="classy-menu">

<div class="classycloseIcon">
<div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
</div>

<div class="classynav">
<ul id="nav">
<li><a href="index.html">Home</a></li>
<li><a href="index.html#">Pages</a>
<ul class="dropdown">
<li><a href="index.html">- Home</a></li>
<li><a href="charts.html">- Charts</a></li>
<li><a href="single-charts.html">- Charts Details</a></li>
<li><a href="podcast.html">- Podcast</a></li>
<li><a href="single-podcast.html">- Podcast Details</a></li>
<li><a href="show.html">- Show</a></li>
<li><a href="events.html">- Event</a></li>
<li><a href="blog.html">- Blog</a></li>
<li><a href="single-blog.html">- Blog Details</a></li>
<li><a href="index.html#">- Dropdown</a>
<ul class="dropdown">
<li><a href="index.html#">- Dropdown Item</a></li>
<li><a href="index.html#">- Dropdown Item</a></li>
<li><a href="index.html#">- Dropdown Item</a></li>
<li><a href="index.html#">- Dropdown Item</a></li>
</ul>
 </li>
</ul>
</li>
<li><a href="show.html">Shows</a></li>
<li><a href="charts.html">Charts</a></li>
<li><a href="podcast.html">Podcasts</a></li>
<li><a href="index.html#">Mega</a>
<div class="megamenu">
<ul class="single-mega cn-col-4">
<li><a href="index.html">- Home</a></li>
<li><a href="charts.html">- Charts</a></li>
<li><a href="single-charts.html">- Charts Details</a></li>
<li><a href="podcast.html">- Podcast</a></li>
<li><a href="single-podcast.html">- Podcast Details</a></li>
</ul>
<ul class="single-mega cn-col-4">
<li><a href="show.html">- Show</a></li>
<li><a href="events.html">- Event</a></li>
<li><a href="blog.html">- Blog</a></li>
<li><a href="single-blog.html">- Blog Details</a></li>
<li><a href="index.html">- Home</a></li>
</ul>
<ul class="single-mega cn-col-4">
<li><a href="charts.html">- Charts</a></li>
<li><a href="single-charts.html">- Charts Details</a></li>
<li><a href="podcast.html">- Podcast</a></li>
<li><a href="single-podcast.html">- Podcast Details</a></li>
<li><a href="show.html">- Show</a></li>
</ul>
<ul class="single-mega cn-col-4">
<li><a href="show.html">- Show</a></li>
<li><a href="events.html">- Event</a></li>
<li><a href="blog.html">- Blog</a></li>
  <li><a href="single-blog.html">- Blog Details</a></li>
<li><a href="index.html">- Home</a></li>
</ul>
</div>
</li>
<li><a href="events.html">Events</a></li>
<li><a href="blog.html">Blog</a></li>
</ul>

<div class="social-share-icon">
<i class="social_share"></i>
</div>

<div class="search-icon" data-toggle="modal" data-target="#searchModal">
<i class="icon_search"></i>
</div>
</div>

</div>
</nav>
</div>
</div>
</div>
</header>


<section class="welcome-area">
<div class="welcome-slides owl-carousel">

<div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">

<div class="welcome-content h-100">
<div class="container h-100">
<div class="row h-100 align-items-center justify-content-center">

<div class="col-12 col-md-9 col-lg-6">
<div class="welcome-text text-center">
<h2 data-animation="fadeInUpBig" data-delay="100ms">Designed For Music, Engineered to Last</h2>
<h5 data-animation="fadeInUpBig" data-delay="400ms">31st Dec - Night out party....Don't miss it</h5>
<a href="index.html#" class="btn razo-btn btn-2" data-animation="fadeInUpBig" data-delay="700ms">Book Now</a>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/30.jpg);">

<div class="welcome-content h-100">
<div class="container h-100">
<div class="row h-100 align-items-center justify-content-center">

<div class="col-12 col-md-10 col-lg-6">
<div class="welcome-text text-center">
<h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
<h5 data-animation="fadeInUp" data-delay="400ms">31st Dec - Night out party....Don't miss it</h5>
<a href="index.html#" class="btn razo-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Book Now</a>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/32.jpg);">

<div class="welcome-content h-100">
<div class="container h-100">
<div class="row h-100 align-items-center justify-content-center">

<div class="col-12 col-md-10 col-lg-6">
<div class="welcome-text text-center">
<h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
<h5 data-animation="fadeInUp" data-delay="400ms">31st Dec - Night out party....Don't miss it</h5>
<a href="index.html#" class="btn razo-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Book Now</a>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/33.jpg);">

<div class="welcome-content h-100">
<div class="container h-100">
<div class="row h-100 align-items-center justify-content-center">

<div class="col-12 col-md-10 col-lg-6">
<div class="welcome-text text-center">
<h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
<h5 data-animation="fadeInUp" data-delay="400ms">31st Dec - Night out party....Don't miss it</h5>
<a href="index.html#" class="btn razo-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Book Now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="razo-blog-area section-padding-80-0">
<div class="container">
<div class="row">

<div class="col-12 col-md-8">
<div class="weekly-news-area mb-50">

<div class="section-heading">
<h2>Blog New</h2>
</div>

<div class="featured-post-area bg-img bg-overlay mb-30" style="background-image: url(img/bg-img/11.jpg);">

<div class="post-overlay">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">The light and music exposition hits los angeles in the fashion week</a>
</div>
</div>
<div class="row">

<div class="col-12 col-md-6">
<div class="razo-single-post d-flex mb-30">

<div class="post-thumbnail">
<a href="single-blog.html"><img src="img/bg-img/13.jpg" alt=""></a>
</div>

<div class="post-content">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">Drug bust leads police to underground tunnel</a>
</div>
</div>
</div>

<div class="col-12 col-md-6">
<div class="razo-single-post d-flex mb-30">

<div class="post-thumbnail">
<a href="single-blog.html"><img src="img/bg-img/14.jpg" alt=""></a>
</div>

<div class="post-content">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">Hear abuse victims' messages for the Pope</a>
</div>
</div>
</div>

<div class="col-12 col-md-6">
<div class="razo-single-post d-flex mb-30">

<div class="post-thumbnail">
<a href="single-blog.html"><img src="img/bg-img/15.jpg" alt=""></a>
</div>

<div class="post-content">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">New Mexico uspects' attorneys file to have all</a>
</div>
</div>
</div>

<div class="col-12 col-md-6">
<div class="razo-single-post d-flex mb-30">

<div class="post-thumbnail">
<a href="single-blog.html"><img src="img/bg-img/16.jpg" alt=""></a>
</div>

<div class="post-content">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">Trump tweets false white supremacist talking</a>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="trending-news-area mb-50">

<div class="section-heading">
<h2>Trending</h2>
</div>

<div class="featured-post-area small-featured-post bg-img bg-overlay mb-30" style="background-image: url(img/bg-img/12.jpg);">

<div class="post-overlay">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">Hawaii braces for Hurricane Lane</a>
</div>
</div>

<div class="razo-single-post d-flex mb-30">

 <div class="post-thumbnail">
<a href="single-blog.html"><img src="img/bg-img/17.jpg" alt=""></a>
</div>

<div class="post-content">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">Hurricane Lane brings 19 inches of rain</a>
</div>
</div>

<div class="razo-single-post d-flex mb-30">

<div class="post-thumbnail">
<a href="single-blog.html"><img src="img/bg-img/18.jpg" alt=""></a>
</div>

<div class="post-content">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">What these victims want the Pope to know</a>
</div>
</div>

<div class="razo-single-post d-flex mb-30">

<div class="post-thumbnail">
<a href="single-blog.html"><img src="img/bg-img/19.jpg" alt=""></a>
</div>

<div class="post-content">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">What happens if you don't have a will?</a>
</div>
</div>

<div class="razo-single-post d-flex mb-30">

<div class="post-thumbnail">
<a href="single-blog.html"><img src="img/bg-img/20.jpg" alt=""></a>
</div>

<div class="post-content">
<div class="post-meta">
<a href="index.html#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
<a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
</div>
<a href="single-blog.html" class="post-title">Giuliani: No reason for Trump impeachment</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(img/bg-img/31.jpg);">
<div class="container">
<div class="row">

<div class="col-sm-6">
<div class="section-heading white">
<h2>Trending Now</h2>
</div>
</div>

<div class="col-sm-6">
<div class="show-all-button mb-50 text-right">
<a href="index.html#" class="btn show-all-btn">Trending (Top 10)</a>
</div>
</div>
</div>
<div class="row">
<div class="col-12">

<div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
<div class="music-content d-flex align-items-center">
<div class="sl-number">
<h5>1.</h5>
</div>
<div class="music-thumb">
<img src="img/bg-img/popular1.jpg" alt="" style="height: 100px;">
</div>
<div class="music-title" style="padding-left: 40px;">
<h5>Undo - <span>Sanna Nielsen</span></h5>
</div>
</div>
<div class="music-price">
  <iframe
  frameborder="0"
  width="400"
  height="70"
  src="https://drive.google.com/file/d/1_ig3hPSMaxqHOWQkj7WcJoklZ_PM8MTR/preview">
</iframe>
</div>
</div>

<div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
<div class="music-content d-flex align-items-center">
<div class="sl-number">
<h5>2.</h5>
</div>
<div class="music-thumb">
<img src="img/bg-img/popular2.jpg" alt="" style="height: 100px;">
</div>
<div class="music-title" style="padding-left: 40px;">
<h5>You're The One - <span>Dwight Yoakam</span></h5>
</div>
</div>
<div class="music-price">
  <iframe
  frameborder="0"
  width="400"
  height="70"
  src="https://drive.google.com/file/d/1Rc6JLCTreio8ftKjIEib-oEZ7kEbuaum/preview">
</iframe>
</div>
</div>

<div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="500ms">
<div class="music-content d-flex align-items-center">
<div class="sl-number">
<h5>3.</h5>
</div>
<div class="music-thumb"">
<img src="img/bg-img/popular3.jpg" alt="" style="height: 100px;">
</div>
<div class="music-title" style="padding-left: 40px;">
<h5>Revelry - <span>Kings Of Leon</span></h5>
</div>
</div>
<div class="music-price">
  <iframe
  frameborder="0"
  width="400"
  height="70"
  src="https://drive.google.com/file/d/10NqVLpM7hylACYS8rYIFBv3Xi42wW_Gf/preview">
</iframe>
</div>
</div>

<div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="700ms">
<div class="music-content d-flex align-items-center">
<div class="sl-number">
<h5>4.</h5>
</div>
<div class="music-thumb">
<img src="img/bg-img/popular4.jpg" alt="" style="height: 100px;">
</div>
<div class="music-title" style="padding-left: 40px;">
<h5>Secrets - <span>OneRepublic</span></h5>
</div>
</div>
<div class="music-price">
  <iframe
  frameborder="0"
  width="400"
  height="70"
  src="https://drive.google.com/file/d/19YoKcqCNGdX2-c5YmTYUtHchMA2e5LbA/preview">
</iframe>
</div>
</div>

<div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
  <div class="music-content d-flex align-items-center">
  <div class="sl-number">
  <h5>5.</h5>
  </div>
  <div class="music-thumb">
  <img src="img/bg-img/popular5.jpg" alt="" style="height: 100px;">
  </div>
  <div class="music-title" style="padding-left: 40px;">
  <h5>Fireflies - <span>Charttraxx Karaoke</span></h5>
  </div>
  </div>
  <div class="music-price">
    <iframe
    frameborder="0"
    width="400"
    height="70"
    src="https://drive.google.com/file/d/1nvbL9mUmHihaUULwX5hCtM6jLEI9s4m6/preview">
  </iframe>
  </div>
  </div>

  <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>6.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/popular6.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Hey_ Soul Sister - <span>Train</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1Xd_I_ypgf7Nd2ieKS8b8mcPiIR-VghiS/preview">
    </iframe>
    </div>
    </div>

    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
      <div class="music-content d-flex align-items-center">
      <div class="sl-number">
      <h5>7.</h5>
      </div>
      <div class="music-thumb">
      <img src="img/bg-img/popular7.jpg" alt="" style="height: 100px;">
      </div>
      <div class="music-title" style="padding-left: 40px;">
      <h5>Use Somebody - <span>Kings Of Leon</span></h5>
      </div>
      </div>
      <div class="music-price">
        <iframe
        frameborder="0"
        width="400"
        height="70"
        src="https://drive.google.com/file/d/1ZcEN9sYO03RixA8jhUFWFGUSVtUuvmUt/preview">
      </iframe>
      </div>
      </div>

      <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
        <div class="music-content d-flex align-items-center">
        <div class="sl-number">
        <h5>8.</h5>
        </div>
        <div class="music-thumb">
        <img src="img/bg-img/popular8.jpg" alt="" style="height: 100px;">
        </div>
        <div class="music-title" style="padding-left: 40px;">
        <h5>OMG - <span>Usher feat. will.i.am</span></h5>
        </div>
        </div>
        <div class="music-price">
          <iframe
          frameborder="0"
          width="400"
          height="70"
          src="https://drive.google.com/file/d/1wmIi2XrzBy4Iw-2WOFzO8d8nPYNbjhlm/preview">
        </iframe>
        </div>
        </div>

        <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
          <div class="music-content d-flex align-items-center">
          <div class="sl-number">
          <h5>9.</h5>
          </div>
          <div class="music-thumb">
          <img src="img/bg-img/popular9.jpg" alt="" style="height: 100px;">
          </div>
          <div class="music-title" style="padding-left: 40px;">
          <h5>Marry Me - <span>Train</span></h5>
          </div>
          </div>
          <div class="music-price">
            <iframe
            frameborder="0"
            width="400"
            height="70"
            src="https://drive.google.com/file/d/1Ocse4y50ltLRczrEA97QJ6AzkgVuR7T8/preview">
          </iframe>
          </div>
          </div>

          <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
            <div class="music-content d-flex align-items-center">
            <div class="sl-number">
            <h5>10.</h5>
            </div>
            <div class="music-thumb">
            <img src="img/bg-img/popular10.jpg" alt="" style="height: 100px;">
            </div>
            <div class="music-title" style="padding-left: 40px;">
            <h5>Canada - <span>Five Iron Frenzy</span></h5>
            </div>
            </div>
            <div class="music-price">
              <iframe
              frameborder="0"
              width="400"
              height="70"
              src="https://drive.google.com/file/d/1-Zso7mr0w1JmhEaKePDAfGQB0dn2G056/preview">
            </iframe>
            </div>
            </div>

<!--
<div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="900ms">
<div class="music-content d-flex align-items-center">
<div class="sl-number">
<h5>5.</h5>
</div>
<div class="music-thumb">
<img src="img/bg-img/29.jpg" alt="">
</div>
<div class="audio-player">
<audio preload="auto" controls>
<source src="https://preview.colorlib.com/theme/razo/audio/dummy-audio.mp3">
</audio>
</div>
<div class="music-title">
<h5>Pray For The Wicked - <span>Panic! At The Disco</span></h5>
</div>
</div>

<div class="music-price">
<a href="index.html#" class="btn razo-btn btn-2">$10.99</a>
</div>
</div>
-->
</div>
</div>
</div>
</section>


<section class="razo-trending-video-area section-padding-80-0 mb-50">
<div class="container">
<div class="row">

<div class="col-12">
<div class="section-heading text-center">
<h2>Trending Video</h2>
</div>
</div>
</div>
<div class="row">

<div class="col-12">
<div class="featured-trending-video mb-30 wow fadeInUp" data-wow-delay="100ms">
<iframe src="https://www.youtube.com/embed/zRvhQ5Rf6-U" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

</div>
</div>
</section>


<section class="razo-app-download-area section-padding-80-0 bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/21.jpg);">
<!-- <div class="container">
<div class="row align-items-center">

<div class="col-12 col-md-6">
<div class="app-thumbnail mb-80">
<img src="img/bg-img/mockup-iphone.png" alt="">
</div>
</div>

<div class="col-12 col-md-6">
<div class="app-download-text mb-80">
<span>Download app and Enjoy radio &amp; music</span>
<h2>Radio Music</h2>
<p>Radio app plus is a app that lets you download videos and music from social network, Youtube, etc. You may also download and play the latest HD series and movies, and also watch free live television. This app is also available for Android and Ios.</p>
<div class="app-download-btn">
<a href="index.html#"><img src="img/core-img/google-play.png" alt=""></a>
<a href="index.html#"><img src="img/core-img/app-store.png" alt=""></a>
</div>
</div>
</div>
</div>
</div> -->
<div class="container">
  <div class="row">
  
  <div class="col-sm-6">
  <div class="section-heading white">
  <h2>Uniquely Yours</h2>
  </div>
  </div>
  
  <div class="col-sm-6">
  <div class="show-all-button mb-50 text-right">
  <a href="index.html#" class="btn show-all-btn">Just for you (Top 10)</a>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-12">
  
  <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
  <div class="music-content d-flex align-items-center">
  <div class="sl-number">
  <h5>1.</h5>
  </div>
  <div class="music-thumb">
  <img src="img/bg-img/matrix1.jpg" alt="" style="height: 100px;">
  </div>
  <div class="music-title" style="padding-left: 40px;">
  <h5>Pursuit Of Happiness - <span>Kid Cudi / MGMT / Ratatat</span></h5>
  </div>
  </div>
  <div class="music-price">
    <iframe
    frameborder="0"
    width="400"
    height="70"
    src="https://drive.google.com/file/d/1hDq6R5u8mXxw_yPqG3DNBkugiBt4G59U/preview">
  </iframe>
  </div>
  </div>
  
  <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
  <div class="music-content d-flex align-items-center">
  <div class="sl-number">
  <h5>2.</h5>
  </div>
  <div class="music-thumb">
  <img src="img/bg-img/matrix2.jpg" alt="" style="height: 100px;">
  </div>
  <div class="music-title" style="padding-left: 40px;">
  <h5>The Scientist - <span>Coldplay</span></h5>
  </div>
  </div>
  <div class="music-price">
    <iframe
    frameborder="0"
    width="400"
    height="70"
    src="https://drive.google.com/file/d/16sk_uqvEQvmVczX_tvYAUvXqZQY--OhT/preview">
  </iframe>
  </div>
  </div>
  
  <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="500ms">
  <div class="music-content d-flex align-items-center">
  <div class="sl-number">
  <h5>3.</h5>
  </div>
  <div class="music-thumb"">
  <img src="img/bg-img/matrix3.jpg" alt="" style="height: 100px;">
  </div>
  <div class="music-title" style="padding-left: 40px;">
  <h5>Lucky (Album Version) - <span>Jason Mraz & Colbie Caillat</span></h5>
  </div>
  </div>
  <div class="music-price">
    <iframe
    frameborder="0"
    width="400"
    height="70"
    src="https://drive.google.com/file/d/1aZE30D_opYhdoYt2Stmzm_ctZ01X9E5q/preview">
  </iframe>
  </div>
  </div>
  
  <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="700ms">
  <div class="music-content d-flex align-items-center">
  <div class="sl-number">
  <h5>4.</h5>
  </div>
  <div class="music-thumb">
  <img src="img/bg-img/matrix4.jpg" alt="" style="height: 100px;">
  </div>
  <div class="music-title" style="padding-left: 40px;">
  <h5>Vanilla Twilight - <span>Owl City</span></h5>
  </div>
  </div>
  <div class="music-price">
    <iframe
    frameborder="0"
    width="400"
    height="70"
    src="https://drive.google.com/file/d/1YgrafG0BA3q19iQCcDVTe-mADcU9CSbB/preview">
  </iframe>
  </div>
  </div>
  
  <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>5.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/matrix5.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Bleed It Out [Live At Milton Keynes] - <span>Linkin Park</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/15qMHeD-JgJ5s1ErcCuytjclzT9jXOk-Q/preview">
    </iframe>
    </div>
    </div>
  
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
      <div class="music-content d-flex align-items-center">
      <div class="sl-number">
      <h5>6.</h5>
      </div>
      <div class="music-thumb">
      <img src="img/bg-img/matrix6.jpg" alt="" style="height: 100px;">
      </div>
      <div class="music-title" style="padding-left: 40px;">
      <h5>The Only Exception (Album Version) - <span>Paramore</span></h5>
      </div>
      </div>
      <div class="music-price">
        <iframe
        frameborder="0"
        width="400"
        height="70"
        src="https://drive.google.com/file/d/1coMV3lD4bPgZ8dgJUsGcjD26G8lS0QVl/preview">
      </iframe>
      </div>
      </div>
  
      <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
        <div class="music-content d-flex align-items-center">
        <div class="sl-number">
        <h5>7.</h5>
        </div>
        <div class="music-thumb">
        <img src="img/bg-img/matrix7.jpg" alt="" style="height: 100px;">
        </div>
        <div class="music-title" style="padding-left: 40px;">
        <h5>All The Right Moves - <span>OneRepublic</span></h5>
        </div>
        </div>
        <div class="music-price">
          <iframe
          frameborder="0"
          width="400"
          height="70"
          src="https://drive.google.com/file/d/1m01nuf_1crAaWPwI7I8OFpygjOPfbqvt/preview">
        </iframe>
        </div>
        </div>
  
        <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
          <div class="music-content d-flex align-items-center">
          <div class="sl-number">
          <h5>8.</h5>
          </div>
          <div class="music-thumb">
          <img src="img/bg-img/matrix8.jpg" alt="" style="height: 100px;">
          </div>
          <div class="music-title" style="padding-left: 40px;">
          <h5>U Smile - <span>Justin Bieber</span></h5>
          </div>
          </div>
          <div class="music-price">
            <iframe
            frameborder="0"
            width="400"
            height="70"
            src="https://drive.google.com/file/d/10SK7EFLQtsqQXxy4ifCpazDrEXSaa2p6/preview">
          </iframe>
          </div>
          </div>
  
          <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
            <div class="music-content d-flex align-items-center">
            <div class="sl-number">
            <h5>9.</h5>
            </div>
            <div class="music-thumb">
            <img src="img/bg-img/matrix9.jpg" alt="" style="height: 100px;">
            </div>
            <div class="music-title" style="padding-left: 40px;">
            <h5>Love Story - <span>Taylor Swift</span></h5>
            </div>
            </div>
            <div class="music-price">
              <iframe
              frameborder="0"
              width="400"
              height="70"
              src="https://drive.google.com/file/d/1vSvMfabdCvjPd399dAQpTJV2C-AmNKLr/preview">
            </iframe>
            </div>
            </div>
  
            <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
              <div class="music-content d-flex align-items-center">
              <div class="sl-number">
              <h5>10.</h5>
              </div>
              <div class="music-thumb">
              <img src="img/bg-img/matrix10.jpg" alt="" style="height: 100px;">
              </div>
              <div class="music-title" style="padding-left: 40px;">
              <h5>Heartbreak Warfare - <span>John Mayer</span></h5>
              </div>
              </div>
              <div class="music-price">
                <iframe
                frameborder="0"
                width="400"
                height="70"
                src="https://drive.google.com/file/d/1QVixGp1cvtByihnv15b2sO2VlgcHHJia/preview">
              </iframe>
              </div>
              </div>
  </div>
  </div>
  </div>
</section>


<section class="razo-weekly-schedule-area section-padding-80">
<div class="container">
<div class="row">
<div class="col-12">
<div class="weekly-schedule-table table-responsive">

<div class="col-12">
<div class="section-heading text-center">
<h2>Wanna find music that suits your current mood?</h2>
</div>
</div>
<div style="padding-left: 300px;">
  <h6>Let your mood do all of the work for discovering right songs for you ;)</h6>
  <div style="padding-left: 100px;">
    <a href="https://quizly.co/this-visually-satisfying-quiz-will-reveal-your-current-mood/" target="_blank" class="btn razo-btn btn-2" style="background-color: black;">Click here</a>
  </div>
  </div>
</div>
</div>
</div>
</div>
</section>

<section class="razo-app-download-area section-padding-80-0 bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/32.jpg);">
  <div class="container">
    <div class="row">
    
    <div class="col-sm-6">
    <div class="section-heading white">
    <h2>Mood</h2>
    </div>
    </div>
    
    <div class="col-sm-2">
    <div class="show-all-button mb-50 text-right">
    <a href="#happy" class="btn show-all-btn">Happy</a>
    </div>
    </div>

    <div class="col-sm-2">
      <div class="show-all-button mb-50 text-right">
      <a href="#sad" class="btn show-all-btn">Sad</a>
      </div>
      </div>

      <div class="col-sm-2">
        <div class="show-all-button mb-50 text-right">
        <a href="#energetic" class="btn show-all-btn">Energetic</a>
        </div>
        </div>

    </div>


    <div class="row" id="happy">
      <div class="col-sm-6">
      <div class="section-heading white">
      <h2 style="font-size: medium;">Happy</h2>
      </div>
      </div>
    </div>

    <div class="row">
    <div class="col-12">
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>1.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/happy1.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Ain't Misbehaving - <span>Sam Cooke</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1Zk09LD5byhc8FlA9gXAAECsIcivQZCvP/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>2.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/happy2.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>The Gift - <span>Angels and Airwaves</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1RcYDj3q14-vzSeBwRDj6hEVpasYN9o4U/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="500ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>3.</h5>
    </div>
    <div class="music-thumb"">
    <img src="img/bg-img/happy3.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Almaz - <span>Randy Crawford</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1RnyrEcF4JL6_m5borxIZeTKgO6XEW6SS/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="700ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>4.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/matrix1.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Pursuit Of Happiness (nightmare) - <span>Kid Cudi / MGMT / Ratatat</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1hDq6R5u8mXxw_yPqG3DNBkugiBt4G59U/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
      <div class="music-content d-flex align-items-center">
      <div class="sl-number">
      <h5>5.</h5>
      </div>
      <div class="music-thumb">
      <img src="img/bg-img/happy5.jpg" alt="" style="height: 100px;">
      </div>
      <div class="music-title" style="padding-left: 40px;">
      <h5>Who Can Compare - <span>Foolish Things</span></h5>
      </div>
      </div>
      <div class="music-price">
        <iframe
        frameborder="0"
        width="400"
        height="70"
        src="https://drive.google.com/file/d/1VObeGFGObdRw63hIf2MX5IDf0oDI7-uw/preview">
      </iframe>
      </div>
      </div>
    
      <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
        <div class="music-content d-flex align-items-center">
        <div class="sl-number">
        <h5>6.</h5>
        </div>
        <div class="music-thumb">
        <img src="img/bg-img/happy6.jpg" alt="" style="height: 100px;">
        </div>
        <div class="music-title" style="padding-left: 40px;">
        <h5>Just Dance - <span>Lady GaGa / Colby O'Donis</span></h5>
        </div>
        </div>
        <div class="music-price">
          <iframe
          frameborder="0"
          width="400"
          height="70"
          src="https://drive.google.com/file/d/1c-ThqTvY_JDl7bzDwL1C1AVmjhpY7pzq/preview">
        </iframe>
        </div>
        </div>
    
        <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
          <div class="music-content d-flex align-items-center">
          <div class="sl-number">
          <h5>7.</h5>
          </div>
          <div class="music-thumb">
          <img src="img/bg-img/happy7.jpg" alt="" style="height: 100px;">
          </div>
          <div class="music-title" style="padding-left: 40px;">
          <h5>Yellow - <span>Coldplay</span></h5>
          </div>
          </div>
          <div class="music-price">
            <iframe
            frameborder="0"
            width="400"
            height="70"
            src="https://drive.google.com/file/d/1XbPPlPfVRCBfgxvbN0rcgLSUME7a-OdS/preview">
          </iframe>
          </div>
          </div>
    
          <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
            <div class="music-content d-flex align-items-center">
            <div class="sl-number">
            <h5>8.</h5>
            </div>
            <div class="music-thumb">
            <img src="img/bg-img/matrix6.jpg" alt="" style="height: 100px;">
            </div>
            <div class="music-title" style="padding-left: 40px;">
            <h5>The Only Exception (Album Version) - <span>Paramore</span></h5>
            </div>
            </div>
            <div class="music-price">
              <iframe
              frameborder="0"
              width="400"
              height="70"
              src="https://drive.google.com/file/d/1coMV3lD4bPgZ8dgJUsGcjD26G8lS0QVl/preview">
            </iframe>
            </div>
            </div>
    
            <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
              <div class="music-content d-flex align-items-center">
              <div class="sl-number">
              <h5>9.</h5>
              </div>
              <div class="music-thumb">
              <img src="img/bg-img/happy9.jpg" alt="" style="height: 100px;">
              </div>
              <div class="music-title" style="padding-left: 40px;">
              <h5>Home - <span>Edward Sharpe & The Magnetic Zeros</span></h5>
              </div>
              </div>
              <div class="music-price">
                <iframe
                frameborder="0"
                width="400"
                height="70"
                src="https://drive.google.com/file/d/17mYEq5LqMcjzHVhmeVsuYmVMA1NB6v0C/preview">
              </iframe>
              </div>
              </div>
    
              <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                <div class="music-content d-flex align-items-center">
                <div class="sl-number">
                <h5>10.</h5>
                </div>
                <div class="music-thumb">
                <img src="img/bg-img/matrix9.jpg" alt="" style="height: 100px;">
                </div>
                <div class="music-title" style="padding-left: 40px;">
                <h5>Love Story - <span>Taylor Swift</span></h5>
                </div>
                </div>
                <div class="music-price">
                  <iframe
                  frameborder="0"
                  width="400"
                  height="70"
                  src="https://drive.google.com/file/d/1vSvMfabdCvjPd399dAQpTJV2C-AmNKLr/preview">
                </iframe>
                </div>
                </div>
    </div>
    </div>
    <br><br>
    <div class="row" id="sad">
      <div class="col-sm-6">
      <div class="section-heading white">
      <h2 style="font-size: medium;">Sad</h2>
      </div>
      </div>
    </div>

    <div class="row">
    <div class="col-12">
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>1.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/sad1.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Invalid - <span>Tub Ring</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1IjkeFMBHJOjIBdFR9vgOW3RVnHQlwVGA/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>2.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/sad2.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>The Gift - <span>Angels and Airwaves</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1--myewPN65CN3AIwOMvmo2zXHEA7JIUc/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="500ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>3.</h5>
    </div>
    <div class="music-thumb"">
    <img src="img/bg-img/matrix2.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>The Scientist - <span>ColdPlay</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/16sk_uqvEQvmVczX_tvYAUvXqZQY--OhT/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="700ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>4.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/sad4.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>A Beggar On A Beach Of Gold - <span>Mike And The Mechanics</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1mr7qapCoartU2zyY513oMCji4OU3Dx3M/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
      <div class="music-content d-flex align-items-center">
      <div class="sl-number">
      <h5>5.</h5>
      </div>
      <div class="music-thumb">
      <img src="img/bg-img/sad5.jpg" alt="" style="height: 100px;">
      </div>
      <div class="music-title" style="padding-left: 40px;">
      <h5>Cosmic Love - <span>Florence + The Machine</span></h5>
      </div>
      </div>
      <div class="music-price">
        <iframe
        frameborder="0"
        width="400"
        height="70"
        src="https://drive.google.com/file/d/1LK649WPbGXRBQ58Z9oMWfdHRutSKvLdN/preview">
      </iframe>
      </div>
      </div>
    
      <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
        <div class="music-content d-flex align-items-center">
        <div class="sl-number">
        <h5>6.</h5>
        </div>
        <div class="music-thumb">
        <img src="img/bg-img/sad6.jpg" alt="" style="height: 100px;">
        </div>
        <div class="music-title" style="padding-left: 40px;">
        <h5> Heartbreak Warfare - <span>John Mayer</span></h5>
        </div>
        </div>
        <div class="music-price">
          <iframe
          frameborder="0"
          width="400"
          height="70"
          src="https://drive.google.com/file/d/1bSVZqDklpINUBF47LncuHN5M2ysLLiNF/preview">
        </iframe>
        </div>
        </div>
    
        <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
          <div class="music-content d-flex align-items-center">
          <div class="sl-number">
          <h5>7.</h5>
          </div>
          <div class="music-thumb">
          <img src="img/bg-img/sad7.jpg" alt="" style="height: 100px;">
          </div>
          <div class="music-title" style="padding-left: 40px;">
          <h5>Bring Me To Life - <span>Evanescence</span></h5>
          </div>
          </div>
          <div class="music-price">
            <iframe
            frameborder="0"
            width="400"
            height="70"
            src="https://drive.google.com/file/d/1DSmwDD2GRYWomV_9tV4Nk6gA0OWzLE7o/preview">
          </iframe>
          </div>
          </div>
    
          <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
            <div class="music-content d-flex align-items-center">
            <div class="sl-number">
            <h5>8.</h5>
            </div>
            <div class="music-thumb">
            <img src="img/bg-img/sad8.jpg" alt="" style="height: 100px;">
            </div>
            <div class="music-title" style="padding-left: 40px;">
            <h5>You've Got The Love - <span>Florence + The Machine</span></h5>
            </div>
            </div>
            <div class="music-price">
              <iframe
              frameborder="0"
              width="400"
              height="70"
              src="https://drive.google.com/file/d/1RdWwkPDZrylztijGK6vSIvgh_6RZd7s2/preview">
            </iframe>
            </div>
            </div>
    
            <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
              <div class="music-content d-flex align-items-center">
              <div class="sl-number">
              <h5>9.</h5>
              </div>
              <div class="music-thumb">
              <img src="img/bg-img/sad9.jpg" alt="" style="height: 100px;">
              </div>
              <div class="music-title" style="padding-left: 40px;">
              <h5>Clocks - <span>Coldplay</span></h5>
              </div>
              </div>
              <div class="music-price">
                <iframe
                frameborder="0"
                width="400"
                height="70"
                src="https://drive.google.com/file/d/1DSqIFIIki5cdwJzLRyFuLjMtNW2V9SZc/preview">
              </iframe>
              </div>
              </div>
    
              <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                <div class="music-content d-flex align-items-center">
                <div class="sl-number">
                <h5>10.</h5>
                </div>
                <div class="music-thumb">
                <img src="img/bg-img/sad10.jpg" alt="" style="height: 100px;">
                </div>
                <div class="music-title" style="padding-left: 40px;">
                <h5>Fix You - <span>Coldplay</span></h5>
                </div>
                </div>
                <div class="music-price">
                  <iframe
                  frameborder="0"
                  width="400"
                  height="70"
                  src="https://drive.google.com/file/d/1q76ipiNLu3r_2HmeiKgjp_qCdza9IkIA/preview">
                </iframe>
                </div>
                </div>
    </div>
    </div>
    <br><br>
    <div class="row" id="energetic">
      <div class="col-sm-6">
      <div class="section-heading white">
      <h2 style="font-size: medium;">Energetic</h2>
      </div>
      </div>
    </div>

    <div class="row">
    <div class="col-12">
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>1.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/energetic1.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Drop The World - <span>Lil Wayne / Eminem</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1Zk09LD5byhc8FlA9gXAAECsIcivQZCvP/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>2.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/energetic2.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Make Love To Your Mind - <span>Bill Withers</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1RcYDj3q14-vzSeBwRDj6hEVpasYN9o4U/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="500ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>3.</h5>
    </div>
    <div class="music-thumb"">
    <img src="img/bg-img/energetic3.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Use Somebody - <span>Kings Of Leon</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1RnyrEcF4JL6_m5borxIZeTKgO6XEW6SS/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="700ms">
    <div class="music-content d-flex align-items-center">
    <div class="sl-number">
    <h5>4.</h5>
    </div>
    <div class="music-thumb">
    <img src="img/bg-img/energetic4.jpg" alt="" style="height: 100px;">
    </div>
    <div class="music-title" style="padding-left: 40px;">
    <h5>Lucky (Album Version) - <span>Jason Mraz & Colbie Caillat</span></h5>
    </div>
    </div>
    <div class="music-price">
      <iframe
      frameborder="0"
      width="400"
      height="70"
      src="https://drive.google.com/file/d/1hDq6R5u8mXxw_yPqG3DNBkugiBt4G59U/preview">
    </iframe>
    </div>
    </div>
    
    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
      <div class="music-content d-flex align-items-center">
      <div class="sl-number">
      <h5>5.</h5>
      </div>
      <div class="music-thumb">
      <img src="img/bg-img/energetic5.jpg" alt="" style="height: 100px;">
      </div>
      <div class="music-title" style="padding-left: 40px;">
      <h5>Somebody To Love - <span>Justin Bieber</span></h5>
      </div>
      </div>
      <div class="music-price">
        <iframe
        frameborder="0"
        width="400"
        height="70"
        src="https://drive.google.com/file/d/1VObeGFGObdRw63hIf2MX5IDf0oDI7-uw/preview">
      </iframe>
      </div>
      </div>
    
      <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
        <div class="music-content d-flex align-items-center">
        <div class="sl-number">
        <h5>6.</h5>
        </div>
        <div class="music-thumb">
        <img src="img/bg-img/energetic6.jpg" alt="" style="height: 100px;">
        </div>
        <div class="music-title" style="padding-left: 40px;">
        <h5>Bulletproof - <span>La Roux </span></h5>
        </div>
        </div>
        <div class="music-price">
          <iframe
          frameborder="0"
          width="400"
          height="70"
          src="https://drive.google.com/file/d/1c-ThqTvY_JDl7bzDwL1C1AVmjhpY7pzq/preview">
        </iframe>
        </div>
        </div>
    
        <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
          <div class="music-content d-flex align-items-center">
          <div class="sl-number">
          <h5>7.</h5>
          </div>
          <div class="music-thumb">
          <img src="img/bg-img/energetic7.jpg" alt="" style="height: 100px;">
          </div>
          <div class="music-title" style="padding-left: 40px;">
          <h5>Behind The Sea [Live In Chicago] - <span>Panic At The Disco</span></h5>
          </div>
          </div>
          <div class="music-price">
            <iframe
            frameborder="0"
            width="400"
            height="70"
            src="https://drive.google.com/file/d/1XbPPlPfVRCBfgxvbN0rcgLSUME7a-OdS/preview">
          </iframe>
          </div>
          </div>
    
          <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
            <div class="music-content d-flex align-items-center">
            <div class="sl-number">
            <h5>8.</h5>
            </div>
            <div class="music-thumb">
            <img src="img/bg-img/energetic8.jpg" alt="" style="height: 100px;">
            </div>
            <div class="music-title" style="padding-left: 40px;">
            <h5>Unite (2009 Digital Remaster)- <span>Beastie Boys </span></h5>
            </div>
            </div>
            <div class="music-price">
              <iframe
              frameborder="0"
              width="400"
              height="70"
              src="https://drive.google.com/file/d/1coMV3lD4bPgZ8dgJUsGcjD26G8lS0QVl/preview">
            </iframe>
            </div>
            </div>
    
            <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
              <div class="music-content d-flex align-items-center">
              <div class="sl-number">
              <h5>9.</h5>
              </div>
              <div class="music-thumb">
              <img src="img/bg-img/energetic9.jpg" alt="" style="height: 100px;">
              </div>
              <div class="music-title" style="padding-left: 40px;">
              <h5>West One (Shine On Me) - <span>The Ruts</span></h5>
              </div>
              </div>
              <div class="music-price">
                <iframe
                frameborder="0"
                width="400"
                height="70"
                src="https://drive.google.com/file/d/17mYEq5LqMcjzHVhmeVsuYmVMA1NB6v0C/preview">
              </iframe>
              </div>
              </div>
    
              <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                <div class="music-content d-flex align-items-center">
                <div class="sl-number">
                <h5>10.</h5>
                </div>
                <div class="music-thumb">
                <img src="img/bg-img/matrix5.jpg" alt="" style="height: 100px;">
                </div>
                <div class="music-title" style="padding-left: 40px;">
                <h5>Bleed It Out [Live At Milton Keynes] - <span>Linkin Park</span></h5>
                </div>
                </div>
                <div class="music-price">
                  <iframe
                  frameborder="0"
                  width="400"
                  height="70"
                  src="https://drive.google.com/file/d/1vSvMfabdCvjPd399dAQpTJV2C-AmNKLr/preview">
                </iframe>
                </div>
                </div>
    </div>
    </div>

    </div>
  </section>

<footer class="footer-area">

<div class="main-footer-area section-padding-80-0">
<div class="container">
<div class="row justify-content-between">

<div class="col-12 col-sm-6 col-md-4 col-xl-3">
<div class="single-footer-widget mb-80">

<a href="index.html#" class="footer-logo"><img src="img/core-img/logo2.png" alt=""></a>
<p class="mb-30">Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<div class="footer-content">

<div class="single-contact-info d-flex">
<div class="icon">
<i class="icon_pin"></i>
</div>
<div class="text">
<p>24 No. Amazing Valley, Aewsome St. New York, USA</p>
</div>
</div>

<div class="single-contact-info d-flex">
<div class="icon">
<i class="icon_phone"></i>
</div>
<div class="text">
<p>+11 123 4567890</p>
</div>
</div>

<div class="single-contact-info d-flex">
<div class="icon">
<i class="icon_mail_alt"></i>
</div>
<div class="text">
<p><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f59c9b939adb969a999a87999c97b59298949c99db969a98">[email&#160;protected]</a></p>
</div>
</div>
</div>
</div>
</div>

<div class="col-12 col-sm-6 col-md-4 col-xl-3">
<div class="single-footer-widget mb-80">

<h4 class="widget-title">Twitter Feed</h4>

<div class="single-twitter-feed d-flex">
<div class="tweet-icon">
<i class="fa fa-twitter"></i>
</div>
<div class="tweet">
<p><a href="index.html#">Kerem Suer</a> @kerem American conducts it first ever done strike Qaeda</p>
</div>
</div>

<div class="single-twitter-feed d-flex">
<div class="tweet-icon">
<i class="fa fa-twitter"></i>
</div>
<div class="tweet">
<p><a href="index.html#">Axel Hervelle</a> @axel_hervelle Tens of thousands attend rallies held in D.C.</p>
 </div>
</div>

<div class="single-twitter-feed d-flex">
<div class="tweet-icon">
<i class="fa fa-twitter"></i>
</div>
<div class="tweet">
<p><a href="index.html#">Chris Pratt</a> @chris_pratt Hundreds of protesters shut down meeting.</p>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4 col-xl-3">
<div class="single-footer-widget mb-80">

<h4 class="widget-title">Instagram</h4>

<div class="razo-instagram-area d-flex flex-wrap">

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/2.jpg" alt=""></a>
</div>

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/3.jpg" alt=""></a>
</div>

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/4.jpg" alt=""></a>
</div>

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/5.jpg" alt=""></a>
</div>

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/6.jpg" alt=""></a>
</div>

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/7.jpg" alt=""></a>
</div>

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/8.jpg" alt=""></a>
</div>

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/9.jpg" alt=""></a>
</div>

<div class="single-instagram-feed">
<a href="index.html#"><img src="../frontendplaceholder/img/bg-img/10.jpg" alt=""></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="copywrite-area">
<div class="container">
<div class="row">
<div class="col-12">

<div class="copywrite-text">
<p>
Copyright &copy;<script data-cfasync="false" src="../cdn-cgi/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This application is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Song Recommender Team</a>
</p>
</div>
</div>
</div>
</div>
</div>
</footer>



<script src="../frontendplaceholder/js/jquery.min.js"></script>

<script src="../frontendplaceholder/js/popper.min.js"></script>

<script src="../frontendplaceholder/js/bootstrap.min.js"></script>

<script src="../frontendplaceholder/js/razo.bundle.js"></script>

<script src="../frontendplaceholder/js/default-assets/active.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>