<!DOCTYPE html>    
<html>    
<head>    
    <title>Login</title>        
</head>    
<style>
    body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  
</style>
<body>    
    <h2>Login Page</h2><br>    
    <div class="login">    
     
        <label>Login for Million Song Dataset webpage</label>
        
        <input id="log" type="submit" value="Login in here" onclick="window.open('/home/sriram/Documents/work/SongRecommendationSystem/frontendplaceholder/theme/index.html')" />

        <!-- <button  onclick="location.href ='http://localhost:9000/millionSongDataSet'; "  type="submit"  id="log">Log In Here</button>      -->
        <br><br>    
        <br><br>    
        <br><br>    
        <br><br>    
        <label>Login for All Songs  webapp based on spotify api</label>
        <input id="log" type="submit" value="Login in here" onclick="window.open('http://localhost:3000/')" />
        <!-- <button onclick="location.href ='http://localhost:3000/'; '_blank'" target="_blank" type="submit"  id="log">Log In Here</button>      -->
        
 
      
    
</div>    
</body>    
</html>     